# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# Build Results
[Bb]in/
[Oo]bj/

# SQL Lite
*.db
*.db-shm
*.db-wal

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Roslyn cache directories
*.ide/

# Others
build_output.txt
